name: Deploy commands
on:
  workflow_dispatch:
permissions:
  contents: read
jobs:
  deploy:
    name: Deploy commands
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - name: Install pnpm
        uses: pnpm/action-setup@v4
        with:
          version: 10.23.0

      - name: Install Node.js
        uses: actions/setup-node@v6
        with:
          cache: pnpm
          node-version: 24

      - name: Install dependencies
        run: pnpm install

      - name: Build dependencies
        run: pnpm run build

      - name: Deploy commands
        run: pnpm run deploy-commands
        env:
          GITHUB_ACTIONS: true
          DISCORD_TOKEN: ${{ secrets.DISCORD_TOKEN }}
